html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
}

.body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0%;
  overflow-x: clip;
  position: relative;
  font-family: Inter, sans-serif;
  max-width: 1920px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: white;
  display: contents;
}

.growth-text {
  color: #67e6ff;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: normal;
  background-image: linear-gradient(0deg, #000 10%, #17615d 32%, #1f7b73 46%, #48c8b1 75%, #5bdfc7 100%, #000);
  background-clip: text;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  line-height: 40px;
  display: flex;
  animation: 300ms ease-out Dynamic;
  font-size: 32px;
}

@keyframes Textload {
  0% {opacity: 0; transform: translateY(-10px)}
  100% {opacity: 1; transform: translateY(0)}
}

@keyframes Imageload {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes Dynamic {
  0% {font-size: 20px;}
  100% {font-size: 32px;}
}

@keyframes Dynamic2 {
  0% {font-size: 20px}
  100% {font-size: 30px}
}

@keyframes Dynamic3 {
  0% {font-size: 10px}
  100% {font-size: 18px}
}

@keyframes Dynamic4 {
  0% {font-size: 20px;}
  100% {font-size: 36px}
}

@keyframes Contact {
  50% {
    background: linear-gradient(to right, rgba(248, 255, 150, 0.342), rgba(235, 255, 188, 0.274)); padding-left: 5px; border-radius: 10px;
  }
}

.navbar {
  position: sticky;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 48px;
  padding-right: 50px;
  line-height: 20px;
  background: white;
  box-shadow: 0 0.5px 20px 10px rgba(0, 0, 0, 0.103);
  top: 0;
  display: flex;
  width: auto;
  z-index: 2;
}

.growth-image {
  margin-top: 10px;
}

.donate-button {
  color: #000;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-clip: border-box;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  display: block;
  transition: all 300ms;
}

.donate-button:hover {
  transform: scale(1.1);
}

.contact-us-button {
  color: #000;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-clip: border-box;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  display: block;
  transition: all 300ms;
}

.contact-us-button:hover {
  transform: scale(1.1);
}

.projects-button {
  color: #fff;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-image: linear-gradient(#2cbbae, #17615d);
  background-clip: border-box;
  border-radius: 8px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 41px;
  margin-left: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  display: flex;
  transition: all 500ms;
}

.projects-button:hover {
  transform: scale(1.1);
  animation: Gradient cubic-bezier(0.4, 0, 1, 1) 300ms;
}

@keyframes Gradient {
  20% {background-image: linear-gradient(240deg, #2cbbae, #17615d)}
  40% {background-image: linear-gradient(300deg, #2cbbae, #17615d);}
  60% {background-image: linear-gradient(360deg, #2cbbae, #17615d);}
  80% {background-image: linear-gradient(60deg, #2cbbae, #17615d);}
  100% {background-image: linear-gradient(120deg, #2cbbae, #17615d);}
}

.menu-icon {
  display: none;
  height: 35px;
  width: 26px;
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.menu-icon span {
  height: 2.79px;
  width: 27px;
  background: #000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease 300ms;
}

.menu-icon span:nth-child(1) {
  top: 25%
}

.menu-icon span:nth-child(3) {
  top: 75%;
}

.menu-icon.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown-menu {
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  top: 93px;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
  overflow: hidden;
  transition: all ease-in-out 300ms;
}

.dropdown-menu ul {
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  border-bottom: 1px solid rgb(209, 209, 213);
  list-style: none; 
  display: flex;
  justify-content: space-between;
}

.menu-li-1 {
  border-top: 1px solid rgb(209, 209, 213);
}

.dropdown-menu li:nth-child(2) {
  padding-right: 30px;
}

.dropdown-menu li a span { 
  width: 100%; 
  border-right: 1px solid rgb(209, 209, 213)
}

.dropdown-menu button {
  background: none;
  border: 0px;
  flex: 0 0 40px;
  padding: 0px 25px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: all 300ms;
}

.contact-us-dropdown {
  background: rgb(251, 251, 251);
  padding: 0px 50px;
  display: none;
  overflow: hidden;
  transition: all 300ms;
}

#button {
  cursor: pointer;
  transition: all 100ms;
}

.dropdown-arrow {
  transform: scaleY(-1);
}

.toggle {
  display: block;
  animation: Dropdown-contact 100ms;
}

.font {
  font-weight: 700;
}

.contact-header {
  font-weight: 600;
  font-size: 15px;
  color: rgb(42, 42, 51);
  margin: 0px;
  line-height: 40px;
}

.contact-list {
  padding-top: 20px;
}

.contact-ul {
  margin-bottom: 20px !important;
}

.contact-us-dropdown li {
  flex-direction: column;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  transition: all 300ms;
  color: rgb(13, 119, 119);
}

.contact-us-dropdown li li:hover {
  text-decoration: underline;
}

.dropdown-menu a {
  display: flex;
  cursor: pointer;
  color: black;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  padding: 12px 0px 12px 30px;
  width: 100%;
}

.dropdown-menu a:hover {
  color: #20827d;
}

@keyframes Dropdown {
  0% {height:0px;}
  100% {height: 195px;}
}

@keyframes Dropdown-Responsive {
  0% {height:0px;}
  100% {height: 182.67px;}
}

@keyframes Dropdown-contact {
  0% {height:0px;}
  100% {height: 260px;}
}

.navbar-buttons {
  grid-column-gap: 80px;
  justify-content: center;
  align-items: center;
  height: 76px;
  margin-left: auto;
  display: flex;
}

.backgound-image-block {
  -webkit-text-fill-color: inherit;
  background-image: url("Hero_Image.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  border-radius: 8px;
  min-height: 300px;
  max-height: 300px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 200px;
}

.hero-section {
  line-height: 200px;
}

.image-heading {
  padding-top: 20px;
  font-size: 35px;
  color: white;
  opacity: 0;
  animation: Textload ease-out 0.75s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.image-subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-right: 300px;
  opacity: 0;
  animation: Textload ease-out 0.75s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.text-span {
  font-size: 16px;
  text-decoration: underline;
  transition: all 200ms;
}

.text-span:hover {
  font-size: 18px;
  text-decoration-color:#2cbbae;
}

.growth-heading {
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 34px;
  line-height: 100%;
}

.title-block {
  margin: 40px 50px 30px;
  animation: Textload ease-out 0.75s;
}

.cards-section {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 66px 50px 60px;
  padding: 30px 0;
  display: flex;
}

.image1 {
  cursor: pointer;
  margin-bottom: 179px;
  margin-left: -122px;
  width: 240px;
  height: 205px;
  transition: all 300ms;
}

.image1:hover {
  z-index: 1;
  transform: scale(1.1)
}

.image2 {
  cursor: pointer;
  margin-bottom: -10px;
  margin-top: 0;
  margin-left: -120px;
  width: 250px;
  height: 223px;
  transition: all 300ms;
}

.image2:hover {
  z-index: 1;
  transform: scale(1.1)
}

.image3 {
  cursor: pointer;
  margin-bottom: 170px;
  margin-left: -100px;
  width: 220px;
  height: 178px;
  transition: all 300ms;
}

.image3:hover {
  transform: scale(1.1)
}

.image-text {
  font-size: 14px;
  font-weight: 500;
}

.cards-block {
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 620px;
  margin-left: 8px;
  padding-left: 125px;
  display: flex;
}

.image-text-parent {
  display:block;
  height: 395px;
}

.image-text-block-1 {
  max-width: 336px;
  max-height: 150px;
  margin-top: 42px;
}

.image-text-block-2 {
  margin-left: -120px;
  padding-right: 100px;
  position: relative;
  top: 50px;
}

.footer {
  padding-left: 50px;
  padding-right: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(#42b189, #47a28c 15%, #2d7669 54%, #17615d);
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  padding-top: 40px;
  display: flex;
}

.footer-image-block {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.growth-tree {
  margin-left: 10px;
  filter: drop-shadow(0px 10px 25px #0000006d);
 /* width: 190px;*/
}

.tree-heading {
  color: #fff;
  margin-top: -40px;
  font-size: 30px;
  font-weight: 700;
}

.footer-header {
  outline-offset: 0px;
  pointer-events: auto;
  color: #fff;
  white-space: normal;
  word-break: normal;
  overflow-wrap: normal;
  cursor: default;
  mix-blend-mode: normal;
  text-underline-offset: auto;
  outline: 3px #fff;
  flex: 0 auto;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-links-block {
  grid-column-gap: 60px;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 80px;
}

.contact-us-highlight {
  animation: Contact linear 2s;
  animation-timeline: view();
  animation-range: entry 0 contain 100%;
}

.links-block {
  flex-flow: column;
  max-width: 170px;
  margin-left: 24px;
  display: grid;
}

.footer-caption {
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: all 500ms;
}

.footer-email {
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: all 500ms;
}

.footer-email:hover {
  transform: scale(1.1);
  text-decoration: underline #2cbbae;
}

.socials-block {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  max-width: 800px;
  margin-bottom: 0px;
  margin-top: 10px;
  display: flex;
}

.twitter-svg:hover {
  transform: scale(1.1)
}

.facebook-svg:hover {
  transform: scale(1.1)
}

.instagram-svg:hover {
  transform: scale(1.1)
}

.email-svg:hover {
  transform: scale(1.1)
}


.footer-credits-block {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 30px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.credits-text {
  color: #fff;
  margin-right: 0;
  font-weight: 600;
  display: block;
}

.g-logo {
  margin-top: 12px;
}

.projects-block {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  transition: all 300ms;
}

.projects-block:hover {
  transform: scale(1.1);
  margin-left: 10px;
}

.projects-block:hover .arrow-vector {
  transform: scale(1.1);
}

.arrow-vector {
  margin-top: 19px;
  transition: all 300ms;
}

.arrow-vector1 {
  margin-top: 19px;
  transition: all 300ms;
}

.about-us-block {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  transition: all 300ms;
}

.about-us-block:hover {
  transform: scale(1.1);
  margin-left: 10px;
}
 
.about-us-block:hover .arrow-vector1 {
  transform: scale(1.1);
}

.about-us-button {
  color: #fff;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-image: linear-gradient(#2cbbae, #17615d);
  background-clip: border-box;
  border-radius: 8px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 37px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  display: flex;
  opacity: 0;
  animation: Textload ease-out 0.75s;
  animation-delay: 0.5s;
  transition: transform 300ms;
}

.about-us-button:hover {
  transform: scale(1.05);
}

.aboutus-section {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 450px;
  align-items: center;
}

.aboutus-block {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  grid-row-gap: 15px;
}

.aboutus-heading {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 34px;
  animation: Textload ease-out 0.75s;
}

.hidden-aboutus-heading {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 34px;
  display: none;
  animation: Textload ease-out 0.75s;
}

.aboutus-subtitle {
  margin-top: 0;
  animation: Textload ease-out 0.75s;
}

.hidden-aboutus-subtitle {
  margin-top: 0;
  display: none;
  animation: Textload ease-out 0.75s;
}

.aboutus-text {
  opacity: 0;
  text-align: justify;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  animation: Textload ease-out 0.75s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.hidden-text {
  min-width: 200px;
  display: none;
  margin: 0;
  margin-top: 5px;
  animation: Textload ease-out 0.75s;
  animation-delay: 0.1s;
}

.aboutus-image-block {
  min-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Imageload ease-out 800ms;
}

.aboutus-image {
  width: 320px;
  height: 450px;
  margin: auto;
}

.crew-section {
  display: grid;
  grid-template-columns: auto auto;
  margin: 50px 50px;
  min-height: 450px;
  align-items: center;
  grid-column-gap: 20px;
}

.crew-image-block {
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Imageload ease-out 1s;
}

.hidden-image {
  display: none;
  height: auto;
  width: auto;
  margin: 0;
  animation: Imageload ease-out 800ms;
}

.hidden-image1 {
  display: none;
  height: auto;
  width: auto;
  margin: 0;
}

.crew-image {
  width: 360px;
  height: auto;
  margin: auto;
}

.crew-block {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  grid-row-gap: 10px;
  max-width: 500px;
}

.crew-heading {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 34px;
}

.hidden-crew-heading {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 34px;
  display: none;
}

.crew-subtitle {
  margin: 0;
}

.hidden-crew-subtitle {
  margin: 0;
  display: none;
}

.crew-text {
  text-align: justify;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.projects-section {
  margin: 50px 50px 80px;
  display: grid;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  justify-content: space-between;
  grid-template-columns: auto auto;
}

.projects-title {
  width: 43.5vw;
  margin-bottom: 30px;
  display: grid;
  animation: Textload ease-out 0.75s;
}

.projects-heading {
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 34px;
  line-height: 100%;
}

.project-block {
  width: fit-content;
  display: grid;
  scroll-snap-align: start;
  grid-row-gap: 1vw;
  margin-bottom: 2vw;
  animation: Imageload ease-out 1s;
}

.project-image {
  width: 43.5vw;
  height: auto;
  transition: all 300ms;
}

.project-image:hover {
  transform: scale(1.02);
}

.project-title {
  width: fit-content;
}

.project-heading {
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 100%;
  width: auto;
}

.project-heading:hover {
  text-decoration: underline;
}

.project-details {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  width: auto;
}

.project-header-section {
  margin: 50px 50px 30px;
  display: grid;
  justify-content: center;
  row-gap: 10px;
}

.project-header-block {
  max-width: 500px;
  animation: Textload ease-out 0.75s;
}

.project-header {
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 34px;
  line-height: 100%;
}

.project-heading-image {
  margin: auto;
}

.heading-image {
  width: 89.9vw;
  height: auto;
  animation: Imageload ease-out 1s;
}

.details-section {
  margin-left: 50px;
  margin-right: 50px;
  display:flex;
  justify-content: center;
  text-align: justify;
}

.details-text-block {
  display: grid;
  row-gap: 20px;
  max-width: 700px;
}

.details-text {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin:0;
}

.related-images-section {
  margin: 40px 50px 70px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.related-text {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.related-images-block {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  justify-content: space-between;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  grid-column-gap: 12px;
}

.related-images-block::-webkit-scrollbar {
  -webkit-appearance: none;
}

.related-image {
  scroll-snap-align: start;
  width: 29.26vw;
  height: auto;
}

.random-div {
  position:relative;
}

.scroll-left {
  left: -8px;
  transform: translateY(-50%);
}

.scroll-right {
  right: 0px;
  transform: translateY(-50%) scaleX(-1);
}

.random-div button {
  cursor: pointer;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  background: transparent;
  z-index: 1;
  opacity: 75%; 
  transition: opacity ease 250ms;
}

.random-div button:hover {
  opacity: 1;
}

@media (min-width: 1920px) {
  .navbar {
    padding-top: 40px !important;
  }

   .navbar-buttons {
    grid-column-gap: 160px !important;
  }

  .backgound-image-block {
    padding-right: 900px !important;
  }

  .about-us-button {
    margin-top: 30px !important;
  }
  
  .cards-section {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    grid-column-gap: 50px !important;
  }

  .cards-block {
    min-width: 500px !important
  }

  .image-text-parent {
    text-align: center;
  }

  .image-text-block-1 {
    min-width: 1052px !important;
    margin-left: 0px !important;
    padding: 10px !important;
  }

  .image-text-block-2 {
    margin-left: 0px !important;
    padding: 0 !important;
    top: 110px !important;
    padding: 10px !important;
  }

  .image-text {
    font-size: 24px !important;
  }

  .footer-links-block {
    padding-bottom: 0px !important;
    grid-template-columns: 300px 300px 300px 300px !important;
    margin-top: -160px;
  }

  .links-block {
    margin-left: 24px !important;
  }

  .aboutus-section {
    align-items: center !important;
    grid-column-gap: 20%;
  }

  .crew-section {
    align-items: center !important;
    grid-column-gap: 10% !important;
  }

  .aboutus-block {
    margin-right: -140px !important;
  }

  .projects-title  {
    width: 46vw !important;
  }

  .project-image  {
    width: 46vw !important;
  }

}

@media (min-width: 1440px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 62px;
    padding-right: 62px;
  }

  .growth-text {
    animation: 1s ease-out Dynamic4;
    font-size: 36px;
  }

  .growth-image {
    margin-top: 7px;
  }

  .donate-button, .contact-us-button {
    font-size: 24px;
  }

  .projects-button {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 20px;
  }

  .navbar-buttons {
    grid-column-gap: 90px;
  }

  .title-block {
    cursor: default;
    margin: 70px 60px 60px;
  }

  .growth-heading {
    max-width: 733px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 55px;
  }

  .growth-subtitle {
    max-width: 733px;
    font-size: 24px;
  }

  .backgound-image-block {
    border-radius: 10px !important;
    min-height: 511.22px !important;
    max-height: 511.22px !important;
    margin-left: 60px;
    margin-right: 60px;
  }

  .image-heading {
    max-width: 843.64px;
    padding-top: 60px;
    padding-left: 35px;
    font-size: 64px;
    line-height: 100%;
  }

  .image-subtitle {
    max-width: 843.64px;
    margin-top: 34px;
    padding-left: 35px;
    font-size: 20px;
    text-decoration: none;
    padding-right: 160px;
  }

  .text-span {
    font-size: 24px;
    text-decoration: underline;
  }

  .text-span:hover {
    font-size: 26px;
  }

  .about-us-button {
    background-image: linear-gradient(#2cbbae, #17615d);
    margin-top: 20px;
    margin-left: 35px;
    font-size: 20px;
    width: 120px;
    height: 50px;
    border-radius: 12px;
  }

  .cards-section {
    grid-column-gap: 50px;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-right: 60px;
    margin-left: 60px;
    padding: 85px 0px;
    height: 513px;
  }

  .cards-block {
    display: flex;
  }

  .image1 {
    width: 292px;
    height: 249px;
  }

  .image2 {
    margin-bottom: -85px;
    margin-left: -190px;
    width: 326px;
    height: 291px;
  }
  
  .image3 {
    margin-bottom: 180px;
    margin-left: -122px;
    width: 264px;
    height: 214px;
  }

  .image-text-parent {
    height: 510px;
  }

  .image-text-block-1 {
    margin-left: 90px;
    max-width: 510px;
    margin-top: 50px;
  }

  .image-text-block-2 {
    padding-left: 45px;
  }

  .image-text {
    font-size: 20px;
  }

  .footer {
    margin-top: 0;
    padding-left: 60px;
    padding-right: 60px;
  }

  .tree-heading {
    font-size: 32px;
  }
  
  .footer-links-block {
    grid-column-gap: 60px !important;
    width: 1000px !important;
  }

  .links-block {
    margin-left: 24px !important; 
  }

  .socials-block {
    margin-bottom: 14px !important;
    margin-top: 20px;
  }

  .footer-credits-block {
    margin-right: 42px;
  }

  .aboutus-section {
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-around !important;
  }
  
  .aboutus-block {
    min-width: 624px !important;
    margin-left: -38px !important;
    grid-row-gap: 26px;
  }
  
  .aboutus-heading {
    font-size: 55px;
  }
  
  .aboutus-subtitle {
    font-size: 24px;
  }
  
  .aboutus-text {
    font-size: 20px;
    padding-right: 15px;
  }

  .aboutus-image-block {
    max-width: 550px !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .aboutus-image {
    width: 419px;
    height: 540px;
  }
  
  .crew-section {
    margin: 150px 60px !important;
    justify-content: space-around !important;
  }

  .crew-image {
    width: 482px !important;
    height: 372px;
  }
  
  .crew-block {
    margin-left: 5px !important;
    grid-row-gap: 26px !important;
    max-width: 700px !important;
    padding-right: 15px
  }
  
  .crew-heading {
    font-size: 55px;
  }
  
  .crew-subtitle {
    font-size: 24px;
  }
  
  .crew-text {
    font-size: 20px;
  }

  .projects-section {
    margin: 70px 60px 90px;
  }

  .projects-title {
    width: 44.2vw;
    margin-bottom: 50px;
    grid-row-gap: 10px;
  }

  .projects-heading {
    max-width: 733px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 60px;
  }

  .projects-subtitle {
    font-size: 24px;
  }

  .project-block {
    grid-row-gap: 2vw;
    margin-bottom: 2.5vw;
  }

  .project-image  {
    width: 44.2vw;
  }

  .project-heading {
    font-size: 30px;
  }

  .project-details {
    font-size: 16px;
  }

  .project-header-section {
    margin: 70px 60px 60px;
    row-gap: 50px;
  }

  .project-header-block {
    max-width: 700px;
  }

  .project-header {
    font-size: 55px;
  }

  .project-subtitle {
    font-size: 24px;
  }

  .details-section {
    margin-left: 60px;
    margin-right: 60px;
  }

  .details-text {
    font-size: 20px;
  }

  .related-images-section {
    margin: 60px 60px 80px;
    row-gap: 20px;
  }

  .related-text {
    font-size: 36px;
  }

  .related-images-block {
    grid-column-gap: 50px !important;
  }

  .related-image {
    margin-right: 10px;
  }

  .scroll-left {
    left: 5px;
  }

  .scroll-right {
    right: 20px;
  }

}

@media (min-width: 1200px) {
  .backgound-image-block {
    padding-right: 300px;
    min-height: 411.22px;
    max-height: 411.22px;
    margin-bottom: 0;
    position: static;
  }

  .cards-section {
    grid-column-gap: 30px;
  }

  .cards-block { 
    min-width: 385px;
    padding-left: 190px;
  }

  .image3 {
    margin-left: -85px;
  }

  .image-text-block-1 {
    min-width: 400px;
    padding-right: 1px;
  }

  .image-text-block-2 {
    margin-left: -130px;
    top: 90px;
  }

  .details-text-block {
    min-width: 800px;
  }

  .footer-image-block {
    margin-bottom: 10px;
  }

  .footer-links-block {
    width: 840px;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    padding: 0;
    padding-bottom: 160px;
  }

  .links-block {
    margin-left: 15px;
  }

  .socials-block {
    padding-top: 13px;
    margin-bottom: 10px;
    margin-top: 0px
  }

  .aboutus-section {
    min-height: 450px;
    align-items: normal;
  }

  .aboutus-block {
    max-width: 495px;
    margin: auto;
  }

  .aboutus-image-block {
    max-width: 495px;
  }

  .crew-section {
    grid-column-gap: 0px;
    margin: 70px 50px;
  }

  .crew-image-block {
    min-width: 495px;
  }

  .crew-image {
    width: 425px;
  }

  .crew-block {
    max-width: 490px;
    padding-left: 10px;
  }

}

@media (min-width: 1085px) {
  .related-images-block { 
    grid-column-gap: 2.604vw;
  }
}

@media (max-width: 990px) {
  .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }

  .navbar-buttons {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0;
  }

  .menu-icon {
    display: block;
  }

  .dropdown {
    display: block;
    animation: Dropdown 200ms;
  }

  .title-block {
    margin: 40px 32px;
  }

  p {
    font-size: 14px;
  }

  .text-span {
    font-size: 14px;
  }

  .text-span:hover {
    font-size: 16px;
  }

  .growth-heading {
    font-size: 32px;
  }

  .image-heading {
    padding-top: 15px;
    font-size: 34px;
  }

  .backgound-image-block {
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .image-subtitle {
    font-size: 12px;
  }
  
  .about-us-button {
    font-size: 14px;
  }

  .cards-section {
    grid-column-gap: 10px;
    margin-left: 32px;
    margin-right: 32px;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
  }

  .image1 {
    width: 200px;
    height: 171px;
  }

  .image1:hover {
    transform: scale(1.06)
  }

  .image2 {
    width: 210px;
    height: 187px;
    margin-bottom: 10px;
    margin-left: -150px;
  }

  .image2:hover {
    transform: scale(1.06)
  }

  .image3 {
    width: 180px;
    height: 145px;
    margin-left: -50px;  
  }

  .image3:hover {
    transform: scale(1.06)
  }

  .image-text-parent {
    height: 300px
  }

  .image-text-block-1 {
    margin-top: 0px;
    min-width: 316px;
  }

  .image-text-block-2 {
    margin-left: -130px;
    top: 10px;
  }

  .footer {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 30px;
  }

  .footer-image-block {
    margin-bottom: 60px;
  }

  .growth-tree {
    width: 236px;
    height: 265px;
    display: block;
    margin-top: -15px;
  }

  .tree-heading {
    display: block;
  }

  .footer-links-block {
    grid-column-gap: 60px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 100px;
  }

  .footer-credits-block {
  margin-right: 20px;
  }

  .feature-wrap, .feature-wrap.reverse {
    flex-direction: column;
  }

  .aboutus-section {
    height: 450px;
    align-items: normal;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 60px;
  }
  
  .aboutus-block {
    overflow-y: auto;
    grid-row-gap: 10px;
    margin-left: 10px;
  }

  .aboutus-text {
    font-size: 12px;
  }

  .aboutus-heading {
    position: sticky;
    top: 0;
    font-size: 32px;
    margin-top: 0;
    background-color: white;
  }

  .aboutus-image-block {
    min-width: 350px;
  }

  .crew-section {
    margin: 70px 32px;
    min-height: 0px;
    height: 350px;
    align-items: normal;
    grid-column-gap: 20px;
  }
  
  .crew-block {
    overflow-y: auto;
  }
  
  .crew-heading {
    position: sticky;
    top: 10px;
    font-size: 32px;
    background-color: white;
  }

  .crew-text {
    font-size: 12px;
  }

  .projects-section {
    margin: 40px 32px;
    margin-bottom: 70px;
  }

  .projects-title {
   width: 45vw;
   margin-bottom: 20px;
  }

  .projects-heading {
    font-size: 32px;
  }

  .project-block {
    grid-row-gap: .5vw;
    margin-bottom: 1vw;
  }

  .project-image {
    width: 45vw;
  }

  .project-heading {
    font-size: 22px;
  }

  .project-details {
    font-size: 12px;
  }

  .project-header-section {
    margin: 35px 30px 20px;
    row-gap: 18px;
  }
  
  .project-header-block {
    max-width: 400px;
  }
  
  .project-header {
    font-size: 32px;
  }

  .project-subtitle {
    font-size: 14px;
  }
  
  .heading-image {
    width: 92.5vw;
  }
  
  .details-section {
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .details-text-block {
    row-gap: 15px;
    max-width: 600px;
  }
  
  .details-text {
    font-size: 12px;
  }
  
  .related-images-section {
    margin: 30px 30px 50px;
    row-gap: 5px;
  }
  
  .related-text {
    font-size: 26px;
  }
  
  .related-image {
    width: 30.2vw;
  }

}

@media (max-width: 768px) {
  .navbar {
    padding-left: 25px;
    padding-right: 25px;
  }

  .menu-icon {
    margin-top: 10px;
  }

  .dropdown-menu {
    top: 89px;
  }

  .dropdown-menu a {
    padding: 12px 0px 12px 25px;
  }

  .dropdown-menu li:nth-child(2) {
    padding-right: 25px;
  }

  .contact-us-dropdown {
    padding: 0px 40px;
  }

  .growth-image {
    margin-top: 15px;
    width: 50px;
    height: 46px;
  }

  .growth-text {
    animation: 1s ease-out Dynamic2;
    font-size: 30px;
  }

  .title-block {
    margin: 40px 28px;
  }

  .growth-heading {
    font-size: 30px;
  }

  .backgound-image-block {
    margin-left: 27px;
    margin-right: 27px;
  }

  .image-heading {
    font-size: 32px;
  }

  .image-subtitle {
    min-width: 300px;
  }

  .about-us-button {
    width: 80px;
    height: 35px;
  }

  .cards-section {
    grid-column-gap: 10px;
    margin-left: 27px;
    margin-right: 27px;
    flex-direction: column;
    text-align: center;
    grid-row-gap: 15px;
  }

  .cards-block {
    margin-left: 23px;
    padding-left: 100px;
  }

  .image1:hover {
    transform: scale(1.1)
  }

  .image2 {
    margin-bottom: 15px;
    margin-left: -110px;
  }

  .image2:hover {
    transform: scale(1.1)
  }

  .image3 {
    margin-bottom: 185px;
    margin-left: -75px;
  }

  .image3:hover {
    transform: scale(1.1)
  }

  .image-text-parent {
    height: 300px;
  }

  .image-text-block-2 {
    margin-left: 0;
    padding: 0;
    max-width: 336px;
  }

  .footer {
    padding-left: 25px;
    padding-right: 25px;
  }

  .growth-tree {
    display: none;
  }

  .tree-heading {
    display: none;
}

  .footer-links-block {
    grid-column-gap: 30px;
  }

  .links-block {
    margin-left: 14px;
  }

  .aboutus-section {
    height:auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
    min-height: 0;
    grid-template-columns: auto;  
  }
  
  .aboutus-block {
    height: auto;
    grid-row-gap: 20px;
    margin: 5px 10px;
    margin-top: 30px;
    order: 2;
  }

  .aboutus-heading {
    font-size: 30px;
    margin-bottom: 0;
    display: none;
  }

  .hidden-aboutus-heading {
    font-size: 30px;
    margin-bottom: 0;
    display: grid;
  }

  .aboutus-subtitle {
    display:none;
  }

  .hidden-aboutus-subtitle {
    display:grid;
  }

  .aboutus-image-block {
    min-width: 210px;
    align-items: normal;
    grid-column-gap: 5px;
  }

  .hidden-text {
    display: block;
  }

  .aboutus-image {
    width: 46vw;
    margin: 5px 10px;
    height: auto;
  }

  .crew-section {
    grid-template-columns: auto;
    margin: 50px 25px;
    height: auto;
    grid-column-gap: 5px;
    margin-bottom: 80px;
  }

  .crew-image-block {
    min-width: 210px;
  } 

  .crew-image {
    width: 40vw;
    margin: 10px 10px;
    height: auto;
  }

  .crew-block {
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    max-width: 100%;
  }
  
  .crew-heading {
    display: none;
    font-size: 30px;
    margin: 0;
    top: 0;
  }

  .hidden-crew-heading {
    display: grid;
    font-size: 30px;
    margin: 0;
    top: 0;
  }

  .crew-subtitle {
    display: none;
  }

  .hidden-crew-subtitle {
    display: grid;
  }

  .projects-section {
    margin: 40px 28px;
    margin-bottom: 30px;
    grid-template-columns: auto;
    justify-content: center;
  }

  .projects-title {
    margin-bottom: 10px;
    width: 88.3vw;
  }

  .projects-heading {
    font-size: 30px;
  }

  .project-block {
    grid-row-gap: 2vw;
    margin-bottom: 8vw;
  }

  .project-image {
    width: 88.3vw;
  }

  .project-heading {
    font-size: 20px;
  }

  .project-header-section {
    margin: 35px 27px 20px;
    row-gap: 25px;
  }
  
  .project-header {
    font-size: 30px;
  }
  
  .heading-image {
    width: 88.5vw;
  }
  
  .details-section {
    margin-left: 27px;
    margin-right: 27px;
  }
  
  .details-text-block {
    row-gap: 10px;
    max-width: 500px;
  }
  
  .details-text {
    font-size: 12px;
  }
  
  .related-images-section {
    margin: 30px 27px 50px;
    row-gap: 0px;
  }
  
  .related-text {
    font-size: 24px;
  }

  .related-images-block {
    column-gap: 45px;
  }
  
  .related-image {
    width: 43.5vw;
  }
}

@media (max-width: 720px) {
  .related-images-block {
    column-gap: 20px;
  }
 
}

@media (max-width: 580px) {
  .details-text-block {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .dropdown-menu {
    top: 65px;
  }

  .dropdown {
    animation: Dropdown-Responsive 200ms;
  }

  .dropdown-menu a {
    padding: 10px 0px 10px 10px;
  }

  .dropdown-menu button {
    padding: 0px 15px;
  }

  .dropdown-menu li:nth-child(2) {
    padding-right: 5px;
  }

  .contact-us-dropdown {
    padding: 0px 20px;
  }

  .growth-image {
    margin-top: 5px;
  }

  .growth-text {
    animation: 1s ease-out Dynamic3;
    font-size: 18px;
    margin-top: 9px;
    margin-bottom: auto;
  }

  .menu-icon {
    margin-top: 0px;
    height: 30px;
    width: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .title-block {
    margin: 30px 15px;
  }

  .growth-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .backgound-image-block {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-height: 320px;
  }

  .image-heading {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .image-subtitle {
    padding-right: 60px;
    min-width: 1px;
  }

  .about-us-button {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 70px;
    height: 30px;
    padding: 1px;
  }

  .cards-section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .image1 {
    width: 150px;
    height: auto;
    margin-bottom: 130px;
  }

  .image1:hover {
    transform: scale(1.04)
  }

  .image2 {
    width: 160px;
    height: auto;
    margin-bottom: 0px;
    margin-left: -90px;
  }

  .image2:hover {
    transform: scale(1.04)
  }

  .image3 {
    width: 135px;
    height: auto;
    margin-bottom: 120px;
    margin-left: -55px;
  }

  .image3:hover {
    transform: scale(1.04)
  }

  .image-text-parent {
    height: 350px;
  }

  .image-text-block-1 {
    min-width: 0;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
  }

  .footer-links-block {
    width: 250px;
    grid-template-columns: auto;
  }

  .footer-header {
    font-size: 20px;
  }

  .footer-caption {
    font-size: 12px; 
  }

  .arrow-vector {
    margin-top: 14px; 
  }

  .arrow-vector1 {
    margin-top: 14px;
  }

  .aboutus-section {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
  }
  
  .aboutus-block {
    grid-row-gap: 10px;
    margin: 0;
    max-height: 1000px;
  }

  .hidden-image {
    display: flex;
    width: 90vw;
  }

  .hidden-image1 {
    display: flex;
    width: 90vw;

  }

  .aboutus-heading {
    font-size: 24px;
    display: flex;
  }

  .aboutus-image-block {
    display:none;
  }

  .aboutus-image {
    display: none;
  }

  .crew-section {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .crew-image-block {
    display: none;
  } 

  .crew-image {
    display: none;
  }

  .crew-block {
    grid-row-gap: 10px;
    margin: 0;
    margin-bottom: 40px;
  }
  
  .crew-heading {
    font-size: 24px;
    display: flex;
  }

  .span2 {
    text-align: center;
  }

  .projects-section {
    margin: 30px 15px;
  }

  .projects-title {
    margin-bottom: 0;
    width: 90.5vw;
  }

  .projects-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }  

  .projects-subtitle {
    font-size: 12px;
  }

  .project-block {
    grid-row-gap: 1vw;
    margin-bottom: 6vw;
  }

  .project-image {
    width: 90.5vw;
  }

  .project-heading {
    font-size: 18px;
  }

  .project-details {
    font-size: 10px;
    margin-top: -5px;
  }

  .project-header-section {
    margin: 25px 15px 15px;
    row-gap: 5px;
  }

  .project-header-block {
    max-width: 300px;
  }
  
  .project-header {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .project-subtitle {
    font-size: 12px;
  }
  
  .heading-image {
    width: 90vw;
  }
  
  .details-section {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .details-text-block {
    row-gap: 10px;
    max-width: 380px;
  }
  
  .related-images-section {
    margin: 20px 15px 60px;
    justify-content: center;
  }
  
  .related-text {
    font-size: 22px;
  }

  .scroll-right {
    right: 40px;
  }
  
  .related-image {
    width: 90vw;
  }

}

@media (max-width: 435px) {

  .details-text-block {
    max-width: 300px;
  }

  .related-images-block {
    column-gap: 20px;
  }

  .scroll-right {
    right: 5px;
  }
  
}
